[submodule "lib/hyperspeed-bridge-fork"]
	path = lib/hyperspeed-bridge-fork
	url = https://github.com/Tranquil-Flow/hyperspeed-bridge-fork
[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
